@import "../../Resposive.scss";
.post_item {
    display: flex;
    margin-bottom: 30px;

    @include responsive_max_600 {
        flex-direction: column;
    }

    .post_image {
        margin-right: 20px;
        border-radius: 4px;
        overflow: hidden;
        flex: 0.4;

        a {
            display: block;
            width: 260px;
            height: 190px;
            @include responsive_max_600 {
                width: 100%;
                height: 190px;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 4px;
                display: block;
                z-index: 1;
                opacity: 0.9;
                transition: opacity 0.17s ease, transform 0.17s ease;
            }
        }
    }
    .post_info {
        flex: 0.6;
        .post_title {
            font-size: 20px;
            font-weight: 600;
            line-height: 1.4em;
            text-decoration: none;
            margin: 0;
            a {
                display: block;
                color: #203656;
                transition: color 0.17s;
                text-decoration: none;
                &:hover {
                    color: #fe4f70;
                }
            }
        }
        .post_footer {
            position: relative;
            float: left;
            width: 100%;
            padding: 7px 0 0;
            margin: 7px 0 0;
            border-top: 1px solid #f2f2f6;
            color: #aaa;

            .post_meta {
                overflow: hidden;
                font-size: 13px;
                font-weight: 400;
                padding: 0 1px;
                span {
                    display: inline-block;
                    margin: 0 10px 0 0;
                }
                .post_author {
                    &::before {
                        content: "\f007";
                        font-family: FontAwesome;
                        font-weight: 400;
                        margin: 0 3px 0 0;
                    }
                }
                .post_date {
                    &::before {
                        font-family: FontAwesome;
                        font-weight: 400;
                        margin: 0 3px 0 0;
                        content: "\f017";
                    }
                }
            }

            .post_snippet {
                position: relative;
                display: block;
                overflow: hidden;
                font-size: 14px;
                line-height: 1.7em;
                font-weight: 400;
                margin: 10px 0 15px;

                overflow: hidden;
                text-overflow: ellipsis;
                white-space: initial;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }
        }
    }
}
