@import "../../Resposive.scss";

.post_detail {
    text-align: justify;
    font-family: sans-serif, Arial, Verdana, "Trebuchet MS", "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 15px;
    line-height: 1.6;
    word-wrap: break-word;

    .info {
        margin-bottom: 20px;
        .title {
            font-size: 35px;
            color: #204081;
        }
        .meta {
            color: #aaa;
            .auth {
                margin-right: 10px;
                &::before {
                    content: "\f007";
                    font-family: FontAwesome;
                    font-weight: 400;
                    margin: 0 5px 0 0;
                }
            }
            .date {
                &::before {
                    content: "\f017";
                    font-family: FontAwesome;
                    font-weight: 400;
                    margin: 0 5px 0 0;
                }
            }
        }
        .tag {
            display: flex;
            align-items: center;
            color: #aaa;
            &::before {
                content: "\f02b";
                font-family: FontAwesome;
                font-weight: 500;
                margin-right: 5px;
            }

            div {
                padding: 3px;

                &:not(:last-child)::after {
                    content: ",";
                    font-size: 16px;
                }
            }
        }
    }
    .content {
        @include responsive_max_600 {
            h1 {
                font-size: 23px !important;
                text-align: left;
            }
            h2 {
                font-size: 21px !important;
                text-align: left;
            }
            h3 {
                font-size: 19px !important;
                text-align: left;
            }
            h4 {
                font-size: 17px !important;
                text-align: left;
            }
            h5,
            h6 {
                font-size: 16px !important;
                text-align: left;
            }

            ul {
                padding: 0 30px !important;
            }
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-weight: normal;
            line-height: 1.2;
            display: block;
            font-size: 30px;
            margin-block-start: 0.67em;
            margin-block-end: 0.67em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
        }

        p {
            display: block;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
        }
        ul {
            display: block;
            list-style-type: disc;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            padding-inline-start: 40px;
            padding: 0 40px;
        }

        li {
            display: list-item;
            text-align: -webkit-match-parent;
        }
    }
}
