body {
    position: relative;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 60px;
    width: 100%;
    background-color: #54bab9;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: fixed;
    top: 0;
    z-index: 10;
}

.header .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0.7;
    font-weight: 800;
}
.header .account {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 0.3;
    padding: 0 20px;
}

.header .menu a {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}

.active_menu {
    border-bottom: 3px solid #fff;
}

.header .account a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    margin-right: 7px;
}

.header .account a:hover {
    text-decoration: underline;
}
.header .account img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.body {
    display: flex;
    margin-top: 90px;
    position: relative;
}

.body .content {
    flex: 0.7;
}
.body .relative {
    flex: 0.3;
    position: fixed;
    right: 20px;
}

.body .recent_post,
.tag {
    width: 80%;
    margin: 15px 0;
}

.body .recent_post_title {
    padding: 10px 0;
    border-bottom: 2px solid orange;
    display: inline-block;
    font-size: 1.1em;
    font-weight: 900;
    margin-bottom: 15px;
}

.body .tag_title {
    padding: 10px 0;
    border-bottom: 2px solid orange;
    display: inline-block;
    font-size: 1.1em;
    font-weight: 900;
    margin-bottom: 15px;
}

.body .tag .tag_content {
    display: flex;
    flex-wrap: wrap;
}

.body .tag .tag_content .tag_item {
    padding: 5px;
    border: 1px solid orange;
    margin: 5px 5px 0 0;
}

.body .tag_item a {
    text-decoration: none;
    color: #333;
}
.body .tag .tag_content .tag_item:hover {
    background-color: rgba(255, 169, 0, 0.24);
}

.recent_post a {
    text-decoration: none;
    color: #333;
    padding: 0.5em;
}
.recent_post a:hover {
    color: #f36a25;
}

.container {
    display: inline-block;
    cursor: pointer;
    display: none;
}

.bar1,
.bar2,
.bar3 {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-5px, 5px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

/* < 600 */
@media only screen and (max-width: 600px) {
    .container {
        display: block;
        margin-left: 10px;
    }
    .header {
        justify-content: space-between;
    }

    .header .menu {
        display: none;
        flex-direction: column;
        background-color: #54bab9;
    }

    .header .menu a {
        font-size: 16px;
    }
    .body {
        display: block;
        width: 100%;
    }
}

/* < 768 */
@media only screen and (max-width: 768px) {
    .relative {
        display: none;
    }
    .content {
        flex: 1 !important;
    }
    .content .home {
        width: 70%;
    }

    .body {
        display: block;
    }
    .body .content .post_detail {
        width: 90%;
    }
}

/* < 992 */
@media only screen and (max-width: 992px) {
    .body .relative {
        right: 10px;
    }
    /* .header .menu {
        display: flex;
        flex-direction: row;
    } */
}

/* < 1200 */
@media only screen and (max-width: 1200px) {
}

/* > 1200 */
@media only screen and (min-width: 1200px) {
}
