.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    width: 50%;
    margin: 0 auto;
}

.introduce span {
    font-weight: 800;
}
.introduce p {
    margin: 5px 0 20px 0;
}
._title {
    font-size: 50px;
    margin: 0 auto;
}

.list_post li {
    list-style: decimal;
    font-size: 20px;
    padding: 5px;
    list-style-position: inside;
}

.list_post li a {
    text-decoration: none;
}
.list_post li a:hover {
    text-decoration: underline;
}
