.login {
    margin: 0 auto;
    margin-top: 100px;
    width: 400px;
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

/* #1b74e4; */
#form_login .form_group {
    margin-bottom: 10px;
}

#form_login .form_group input {
    font-size: 1.2rem;
    border: none;
    padding: 10px 5px;
    background-color: #eeeeee;
    border-radius: 5px;
}

#form_login .form_group input:focus {
    outline: invert;
    outline-color: #1b74e4;
}

#form_login .other {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#form_login .other a {
    text-decoration: none;
}
#form_login .other a:hover {
    text-decoration: underline;
}
#form_login button {
    font-size: 16px;
    color: #fff;
    background-color: #1b74e4;
    padding: 5px 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
