venv
static/admin
static/ckeditor
Blog/__pycache__
Blog/migrations/__pycache__
Document/__pycache__
Document/migrations/__pycache__
User/__pycache__
User/migrations/__pycache__
ShareDocument/__pycache__
task
Forum/__pycache__
Forum/migrations/__pycache__
Notification/__pycache__
Notification/migrations/__pycache__