@import "../../Resposive.scss";
.new_post {
    display: flex;
    flex-direction: column;
    border: solid 1px #ebebeb;
    padding: 15px;
    border-radius: 10px;

    .post_content {
        text-align: center;
        float: left;
        width: 100%;
        .post-image-link {
            position: relative;
            width: 100%;
            height: 350px;
            overflow: hidden;
            margin: 0 0 30px;
            border-radius: 0;
            background-color: rgba(155, 155, 155, 0.07);
            color: transparent !important;

            img {
                max-width: 100%;
                display: block;
                position: relative;
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: opacity 0.17s ease, transform 0.17s ease;
            }
        }

        .post_info {
            float: left;
            width: 100%;
            padding: 0;
            .post_title {
                font-size: 28px;
                line-height: 1.3em;
                font-weight: 600;
                margin: 0 0 15px;
                @include responsive_max_600 {
                    font-size: 18px;
                }
                a {
                    display: block;
                    color: #203656;
                    text-decoration: none;
                }
            }
            .post_meta {
                overflow: hidden;
                color: #aaa;
                font-size: 13px;
                font-weight: 400;
                padding: 0 1px;
                span {
                    display: inline-block;
                    margin: 0 10px 0 0;
                }
                .post_author {
                    &::before {
                        content: "\f007";
                        font-family: FontAwesome;
                        font-weight: 400;
                        margin: 0 3px 0 0;
                    }
                }
                .post_date {
                    &::before {
                        font-family: FontAwesome;
                        font-weight: 400;
                        margin: 0 3px 0 0;
                        content: "\f017";
                    }
                }
            }
            .post_snippet {
                position: relative;
                display: block;
                overflow: hidden;
                line-height: 1.6em;
                font-size: 16px;
                font-weight: 400;
                margin: 10px 0 15px;
                color: #aaa;

                @include responsive_max_600 {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: initial;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                }
            }

            .jump_link {
                a {
                    display: inline-block;
                    height: 35px;
                    background-color: #203656;
                    font-size: 14px;
                    color: #ffffff;
                    font-weight: 500;
                    line-height: 35px;
                    box-sizing: border-box;
                    padding: 0 15px;
                    transition: background 0.17s ease;
                    text-decoration: none;
                    &:hover {
                        background-color: #fe4f70;
                    }
                }
            }
        }
    }
}
