{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta
            name="description"
            property="og:description"
            content="This is website share document and knowledge"
        />
        <meta
            name="keywords"
            content="python, django, web development document tài liệu đề thi machine learning, deep learning"
        />
        <meta name="author" content="David teo" />

        <meta property="og:url" content="https://vndev.info" />
        <meta property="og:title" content="Share document" />

        <title>Share document</title>
        <link
            rel="stylesheet"
            href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/default.min.css"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
        />
        <link
            href="https://cdn.jsdelivr.net/npm/@uvarov.frontend/vanilla-calendar@1.3.5/vanilla-calendar.min.css"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
        <link rel="stylesheet" href="{% static 'css/base.css' %}" />
        <link rel="stylesheet" href="{% static 'css/home.css' %}" />
        <link rel="stylesheet" href="{% static 'css/post.css' %}" />
        <link rel="stylesheet" href="{% static 'css/login.css' %}" />
        <link rel="stylesheet" href="{% static 'css/register.css' %}" />
        <link rel="stylesheet" href="{% static 'css/document.css' %}" />
        <script>
            var disqus_developer = 1;
        </script>
        <script
            src="https://kit.fontawesome.com/8139eb8202.js"
            crossorigin="anonymous"
        ></script>
    </head>
    <body>
        <div class="header">
            <div class="container" onclick="myFunction(this)">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
            <div class="menu" id="menu">
                <a href="/" id="home">Trang chủ</a>
                <a href="/document" id="document">Tài liệu</a>
                <a href="/about" id="about">Liên hệ</a>
            </div>
            <div class="account">
                {% if user.is_authenticated %}
                <img src="/media/{{ user.avatar }}" alt="" />
                <div>
                    <div>{{ user.balance }} đ</div>
                    <a href="{% url 'user:logout' %}">Logout</a>
                </div>
                {% else %}
                <a href="{% url 'user:login' %}">Login</a>
                <a href="{% url 'user:register' %}">Register</a>
                {% endif %}
            </div>
        </div>
        <div class="body">
            <div class="content">{% block content %} {% endblock %}</div>
            <div class="relative">
                <div class="vanilla-calendar"></div>
                <div class="recent_post">
                    <div class="recent_post_title">RECENT POSTS</div>
                    {% for p in posts %}
                    <a href="{% url 'blog:post_detail'  p.id %}"
                        ><p>{{ p.title }}</p></a
                    >
                    {% endfor %}
                </div>
                <div class="tag">
                    <div class="tag_title">TAGS</div>
                    <div class="tag_content">
                        {% for tag in tags %}
                        <div class="tag_item">
                            <a href="{% url 'blog:search_tag' tag.name %}"
                                >{{tag.name}}</a
                            >
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="footer"></div>
    </body>
    <script
        id="dsq-count-scr"
        src="//sharedocument.disqus.com/count.js"
        async
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/@uvarov.frontend/vanilla-calendar@1.3.5/vanilla-calendar.min.js"></script>
    <script
        type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/toastify-js"
    ></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
    <script src="{% static 'js/base.js' %}"></script>
    <script>
        hljs.highlightAll();
    </script>
    <script>
        const calendar = new VanillaCalendar({
            HTMLElement: document.querySelector(".vanilla-calendar"),
        });
        calendar.init();
    </script>
</html>
