{% extends 'base.html' %} {% load static %} {% block content %}
<div class="documents">
    <img src="{% static 'img/custom-library.webp' %}" alt="" />
    {% csrf_token %} {% for ca in category %}
    <div class="category">
        <div class="ca_title">{{ ca.title }}</div>
        <ol>
            {% for doc in ca.document_set.all %}
            <li class="doc_item">
                <div class="title">{{ doc.title }}</div>
                <div class="info">
                    <div class="calendar">
                        <i class="fa-solid fa-calendar-days"></i>{{ doc.date }}
                    </div>
                    <div class="download">
                        <i class="fa-solid fa-download"></i>
                        {{ doc.num_download }}
                    </div>
                    {% if doc.price > 0 %}
                    <div style="margin-right: 10px">
                        <i class="fa-solid fa-money-bill-1-wave"></i>
                        {{ doc.price }}đ
                    </div>
                    <div class="buy_download">
                        <a href="{% url 'document:buy_document' doc.id %}"
                            >Buy</a
                        >
                    </div>
                    {% else %}
                    <div
                        onClick="addDowmload({{ doc.id }})"
                        class="buy_download"
                    >
                        <a href="/media/{{ doc.file}}">Download</a>
                    </div>
                    {% endif %}
                </div>
            </li>
            {% endfor %}
        </ol>
    </div>
    {% endfor %}

    <script src="{% static 'js/document.js' %}"></script>
</div>

{% endblock %}
